[2020-09-16 18:24] rreusser commented on #364
Ah, I see now that I failed to view it together with https://github.com/stdlib-js/stdlib/blob/7fb13b1cdcb55a60bfa1a343932793439c716a85/lib/node_modules/%40stdlib/strided/math/special/abs/lib/types.json, which seems to contain the information necessary to decode it.

[2020-09-16 18:25] kgryte commented on #364
@rreusser `data.js` mirrors the C API, which can be found [here](https://github.com/stdlib-js/stdlib/blob/7fb13b1cdcb55a60bfa1a343932793439c716a85/lib/node_modules/%40stdlib/strided/math/special/abs/src/addon.cpp#L198). In short, "data" refers to whatever data should be provided to an "apply" function during invocation. Here, the data is comprised of callbacks. However, the general concept is more

[2020-09-16 18:26] kgryte commented on #364
And yeah, the "grouping" was my way of grouping related functionality (e.g., these callbacks are for the `int32` interfaces, these are for the `uint16` interfaces, etc).

[2020-09-16 18:29] kgryte commented on #364
I should state that the strided array function data (i.e., `types.json`, `data.js`, `abs.functions.js`, etc) do not need to be split over multiple files; they can be included in the same file, as in C. I chose to split into separate files partly for convenience and partly to allow for reuse of such data in other contexts (e.g., `data.js` to be reused for both the main interfaces and the ndarray in

[2020-09-16 18:30] rreusser commented on #364
The second thing of note is that you're right—the number of files does make for a fair bit of maintenance. Correct me if I'm wrong though, but the unit cost of importing one additional strided function interface is quite small, right? All of the js files I see lean on common implementation and, using a bundler with hoisting and whatnot, would compile down to perhaps 1kb on the high side.

[2020-09-16 18:32] kgryte commented on #364
Yes, that should be true. The goal would be to abstract away the underlying implementation (i.e., the loops), so bundles should be relatively small. This is unlike in C where we have to rely on macros which then expand into multiple loop implementations. In JS, there would only be one.

[2020-09-16 18:34] rreusser commented on #364
The splitting makes sense and I understand the motivation for testing and repurposing. The downside, of course, is that it requires more knowledge, context, and navigation in order to comprehend and work with, e.g. matching up lines across multiple files. If you delete a line from `data.json`, you have to track down every other parallel list and ensure they are all synchronized.

[2020-09-16 18:36] kgryte commented on #364
Yes, that is correct. `abs` is a bit of an extreme case, given the number of accepted input and output types. For `sin`, for example, the number of accepted type combinations would be significantly smaller, as the only accepted output types would be `float32` and `float64`. This is true of other transcendental functions. Part of my motivation for using `abs` was to see how imposing the maintenance

[2020-09-16 18:39] kgryte commented on #364
...but you're right that there is fairly significant room for developer error when writing these interfaces (e.g., matching elements across the various meta data arrays).

[2020-09-16 18:48] rreusser commented on #364
Yeah, it's not a strong feeling. I always consider the elm lang thing, "Make impossible states impossible." That is, if inconsistent input (parallel calling signature lists of different lengths) is possible, then maybe it's not a matter of validation but a sign the input format is suboptimal. Following this to the logical end, input would look like (*very* hand-wavily speaking):

[code]

Which pro

[2020-09-16 18:51] rreusser commented on #364
Finally, random example: `cpow( complexArray, complexPower )`. I assume but don't fully understand the implementation well enough to see, that there's some allowance for a second argument which could be a constant for which "Number" is not sufficient? Or more likely, would this be a case for broadcasting and the complex power would be implicitly converted into an element-wise operation?

[2020-09-16 19:02] kgryte commented on #364
Re: compressed form. I suppose one design goal toward which I biased the implementation was to make the JS implementation mirror the C implementation. In C, we need separate lists due to types. In JS (to state the obvious), we are not bound by such restrictions.

This stated, the versions you provided above would also be reasonable. And for that matter, could easily be supported via utility functi

[2020-09-16 19:04] rreusser commented on #364
Yeah, honestly, I think the way you designed it is the best option. It's straightforward, probably not that common to work with, and can at least be managed with some simple validations. 😄

[2020-09-16 19:06] kgryte commented on #364
At the JS layer, I did include validation. See [here](https://github.com/stdlib-js/stdlib/blob/7fb13b1cdcb55a60bfa1a343932793439c716a85/lib/node_modules/%40stdlib/strided/dispatch/lib/main.js#L85). But this does not provide the sort of locality which would make identifying bugs easier.

[2020-09-16 19:09] kgryte commented on #364
Re: how common. Well, if we decide to go with the current implementation, it will be rolled out to at least `200` packages in `stdlib`. 😅

[2020-09-16 19:11] rreusser commented on #364
Introspection is always nice. The design suggests this would be a pretty straightforward addition, no?

Re: overlapping buffers, I can imagine strange use cases with interleaved real/complex, for example, where the input and output may legitimately overlap, at least when treated as a large block, though the individual components may never intersect. Is that indeed the case? It seems better to push

[2020-09-16 19:19] kgryte commented on #364
Re: introspection. Yes, this would be a straightforward addition. Can hang a method off the dispatch function (see [here](https://github.com/stdlib-js/stdlib/blob/7fb13b1cdcb55a60bfa1a343932793439c716a85/lib/node_modules/%40stdlib/strided/dispatch/lib/main.js#L131)) quite easily based on the provided `types` array. So this would not have to be anything a developer would have to do. And does not af

[2020-09-16 20:06] rreusser commented on #364
Re overlapping: sorry, in particular I was trying to invent a case where trivially "overlapping" use of buffers may not lead to conflicting memory access, so that an incomplete, overzealous check would be problematic. I'm not sure how complex it is to check two strided array patterns for overlapping access. I think there's a chance it might actually be somewhat complicated (lots of LCD/GCD and may

[2020-09-16 20:09] kgryte commented on #364
You are correct! Not straightforward at all. NumPy provides two APIs: `may_share_memory` and `shares_memory`, with the former just performing bounds checks, and the latter using a much more complicated algo which can be found [here](https://github.com/numpy/numpy/pull/6166/files).

[2020-09-18 07:29] Planeshifter commented on #364
Concerning the `data.js` and `types.json` debate, the solution most in line with the C file would be to have them both hanging off of one main export. It sounds like you decided against that due to the need to independently require `types.json`. My question is how be much of a problem it would be to require some other unnecessary files in say tests when doing `var types = require( '...').types`, a

[2020-09-18 07:33] kgryte commented on #364
@Planeshifter I think the problem is not so much that the info is split across multiple files, but that the info is split across multiple data structures. Because the data resides in separate lists, the data requires more effort be kept in sync. This stands in contrast to @rreusser's other proposals where function data and types can be found in the same data structure.

[2020-09-18 07:40] Planeshifter commented on #364
Yeah, understood and the arguments put forth made sense to me, but I gathered that preserving a comparable format like in C was outweighing the benefits of having them both in one data structure. I was just inquiring about how big of a benefit is achieved in having them in two separate files. Although I suppose one could also add a one-line comment in `data.js` explaining where to find the corresp

[2020-09-18 07:55] Planeshifter commented on #364
Concerning the question of when to call into C becomes worthwhile, you show benchmarks above showing that >100 might be a good cutoff. How much variation do we expect across packages and would it be a viable strategy to set a magic constant for each package as a cutoff for when to start calling into C?

[2020-09-18 19:55] kgryte commented on #364
Re: separate files. Yeah, I don't know if having them in the same file actually achieves much, especially if the respective lists are long. It would just create a long file and require developers to scroll up and down to match elements.

I think you are right that, at the very least, we should add/update a comment in `data.js` to point to the corresponding `types` file.

Re: heuristics. I really d

[2020-09-28 01:31] antonkatz opened #366 "npm audit security report"
After installing stdlib just now

 === npm audit security report ===

┌──────────────────────────────────────────────────────────────────────────────┐
│                                Manual Review                                 │
│            Some vulnerabilities require your attention to resolve            │
│                                                                              │
│

[2020-09-28 20:07] kgryte commented on #366
This is not a security vulnerability which affects this project. `update-notifier` is only used in our command-line interfaces (CLIs) and is thus not used in library code, and we do not provide public access to any of its APIs.

Closing...

[2020-09-28 20:07] #366 closed, assigned to nobody

[2020-09-30 01:05] kgryte commented on #364
I've updated the OP with some updates.

Re: `data.js`. I've added a [comment](https://github.com/stdlib-js/stdlib/blob/62cb2f0ea67ad09deb990d6e86e236785c848856/lib/node_modules/%40stdlib/strided/math/special/abs/lib/data.js#L34) pointing to the `types.json` file.

Re: heuristics. I tried adding a heuristic; however, I encountered unexpected results. Namely, if I only benchmarked a single set of ty

[2020-09-30 04:40] #296 closed, assigned to nobody

[2020-09-30 04:40] #357 closed, assigned to ShraddheyaS

[2020-11-21 06:11] kgryte opened #368 "Pretty print ndarrays when displayed as a return value in the stdlib REPL"
## Checklist

-   [x] Read and understood the [Code of Conduct][code-of-conduct].
-   [x] Searched for existing issues and pull requests.

## Description

Encountered the issue when creating an `ndarray` in the REPL. Currently, when displaying an `ndarray` as a return value, the following is shown:

[code]

Preferably, the REPL would not display "private" (underscore prefixed properties). These pr

[2020-11-29 06:31] Planeshifter opened #369 "[BUG]: Segmentation fault when running C benchmarks"
## Checklist

-   [x] Read and understood the [Code of Conduct][code-of-conduct].
-   [x] Searched for existing issues and pull requests.

## Description

Am encountering a `Segmentation fault (core dumped)` error when running C benchmarks of mathematical functions.

## Questions

No.

## Other

The issue seems to be due to the benchmarks overflowing the default maximum stack size of 8 MB.
Increas

[2020-12-04 00:10] JakenHerman commented on #351
Has this fix been published? This is still occuring as of 12/3/2020. If it's on the publish-horizon, are there any temporary workaround solutions you could suggest?

[2020-12-07 05:27] kgryte commented on #351
Sorry for the delay. A new version was published which should address this issue. If not, please reopen this issue.

[2020-12-17 19:54] munrocket commented on #365
Sinpi/cospi without correct rounding in last ulp.

[2020-12-17 19:55] kgryte commented on #365
@munsocket Can you explain in more detail? How are you arriving at this conclusion? Particularly, how did you determine that `sinpi/cospi` don't have correct rounding?

[2020-12-17 20:00] munrocket commented on #365
I am just read source code :D
[code]
Is not enough because floating point numbers perform rounding after each operation(multiplication) in round-to-nearest-even mode.

[2020-12-17 20:05] kgryte commented on #365
That is not our source, which can be found [here](https://github.com/stdlib-js/stdlib/blob/5a4b1a1282cb958c5bc727a69ade62e257e1a4cd/lib/node_modules/%40stdlib/math/base/special/sinpi/lib/sinpi.js#L65).

We're not likely to require strict `ulp` requirements for special functions, as these functions are often affected in subtle ways by upstream deps. For example, simply because `sin` and `cos` are a

[2020-12-17 20:12] munrocket commented on #365
Ok, looks legit then :)

[2020-12-17 20:20] kgryte commented on #365
@munsocket Thanks for checking!

[2020-12-18 07:50] munrocket commented on #365
By the way, if your `sinpi/cospi` will pass compliance tests it is very clever implementation and can be proposed in tc39 and added to javascript specification. Right not I am working on FMA emulation ([here snippet](https://gist.github.com/munsocket/adfbca362bf710f53621e483cb208f0e)), I found it in your _2do list_ too.

[2020-12-18 07:54] kgryte commented on #365
Yeah, I saw that you are working on fma emulation. :)

Re: TC39. That isn't particularly interesting for us, given that the spec does not require minimum precision requirements. And for good reason: implementations have historically needed the flexibility to trade-off accuracy for increased perf. While `libm` is the recommended implementation, this is by no means required.

In general, we cannot r

[2021-01-09 23:07] EricCrosson opened #371 "TypeScript types not provided for @stdlib/array/to-iterator and to-iterator-right"
## Checklist

-   [X] Read and understood the [Code of Conduct][code-of-conduct].
-   [X] Searched for existing issues and pull requests.

## Description

Encountered an error when writing the following TypeScript code:

[code]

The issue is that there is no `types` property in the to-iterator package.json, so the ~imported~ required package is untyped.

This prevents type-safe use between the to-

[2021-01-09 23:26] kgryte commented on #371
@EricCrosson Thanks for filing this issue.

@Planeshifter is currently working on adding full TypeScript support. Any updates on the type declarations for these particular packages?

[2021-01-11 07:39] kgryte commented on #371
@EricCrosson types have been created in 9208302ef62a0d0d4ae4dcc2ca61898a2460d06a and bf455a8e608f8f3804040ea7db88f4ab70774e17 and should be available in the next release.

If you find any other missing types which we should prioritize as we continue moving toward 100% coverage, let us know.

Thanks, @Planeshifter, for adding these!

[2021-01-11 07:39] #371 closed, assigned to Planeshifter

[2021-01-12 06:17] kgryte opened #372 "Ensure string lengths are provided as arguments when calling BLAS/LAPACK Fortran APIs from C"
## Checklist

-   [x] Read and understood the [Code of Conduct][code-of-conduct].
-   [x] Searched for existing issues and pull requests.

## Description

As discussed elsewhere,

-   https://developer.r-project.org/Blog/public/2019/05/15/gfortran-issues-with-lapack/
-   https://github.com/scipy/scipy/issues/10335
-   https://lwn.net/Articles/791393/

a bug arose due to changes in the GFortran com

[2021-02-19 11:25] aminya opened #373 "RFC: reduce the time it takes to clone the repository"
## Checklist

-   [x] Read and understood the [Code of Conduct][code-of-conduct].
-   [x] Searched for existing issues and pull requests.
-   [x] The issue name begins with `RFC:`.

## Description

I noticed that this repository is very huge, and it takes a long time to clone, which makes it hard to contribute.

![image](https://user-images.githubusercontent.com/16418197/108497976-d841e480-7271-11

[2021-02-19 18:12] kgryte commented on #373
@aminya Thanks for filing this issue. We are certainly interested in exploring approaches for making this project easier to contribute to.

Re: clone times. One thing we suggest in our [development guide](https://github.com/stdlib-js/stdlib/blob/develop/docs/development.md#download), and which is not included in your suggestions above, is to limit the clone depth. We do this on our CI environments

[2021-02-21 06:41] Planeshifter opened #375 "IS_NODE returning wrong result in Node.js versions >14.6.0"
## Checklist

-   [x] Read and understood the [Code of Conduct][code-of-conduct].
-   [x] Searched for existing issues and pull requests.

## Description

The value exported by `@stdlib/assert/is-node` is equal to `false`  in Node.js versions greater than or equal to 14.6.0.

## Questions

No.

## Other

#### Reproduction

In order to reproduce this bug, do the following:

-   Switch to Node `v14.

[2021-02-21 07:16] Planeshifter commented on #375
Fixed per 8b99c9f3b9f8c447f046efb088656a6322a6aea3.

[2021-02-23 19:06] kgryte commented on #375
Did some further investigating. After checking the results of `nativeClass` and `Object.prototype.toString` in newer versions of Node v14, I found the following discrepancy:

[code]

Looks like discrepancy stems from this code: https://github.com/stdlib-js/stdlib/blob/44ec72fe845adaed3ea24c3d7d8607dfea0959ca/lib/node_modules/%40stdlib/utils/native-class/lib/polyfill.js#L51

During the transition f

[2021-03-02 09:52] domoritz opened #383 "npm package too big for jsDelivr"
I'm trying to load this package from [jsDelivr CDN](https://www.jsdelivr.com/package/npm/@stdlib/stdlib) but it fails because the package is over 100 MB. Are there any files that could be removed to reduce the package size?

[2021-03-02 09:55] domoritz commented on #383
Probably related to https://github.com/stdlib-js/stdlib/issues/373

[2021-03-02 10:02] domoritz commented on #383
A local installation also is hundreds of MBs.

[2021-03-02 17:20] Planeshifter commented on #383
Thanks for reaching out! Indeed, the project is currently not as easily consumable as it should be. One of our next steps is to finish the tooling to publish individual namespace packages to npm (e.g., all of `@stdlib/assert` or all of `@stdlib/random`). Will keep you posted.

However, we do have distributable UMD bundles of the project that you might want to look at. They are also available via t

[2021-03-02 17:48] kgryte commented on #383
@domoritz Beside using one of the UMD bundles, you can also do one of the following:

1.  If your target environment supports ESM, you could consider our experimental [ESM](https://github.com/stdlib-js/esm) build.

2.  Install locally, vendor, and host.

3.  Use project tooling, similar to how we do [here](https://github.com/stdlib-js/stdlib/blob/0f1fc5d028cf3180e134a855153299ecbed048ff/dist/math-

[2021-03-02 18:07] domoritz commented on #383
Awesome to hear that improvements are in the works.

I wanted to play with stdlib in observable and was hoping to have a simple import of the library. I saw https://observablehq.com/@kgryte/stdlib?collection=@kgryte/stdlib uses a specific import from `https://unpkg.com/@stdlib/stdlib@0.0.32/dist/stdlib-flat.min.js` but it would be nice to use the standard `require` or `import` syntax from Observab

[2021-03-02 18:08] kgryte commented on #383
@domoritz Here is an [example](https://observablehq.com/@rreusser/stdlib-erf-and-erfinv) of loading individual ESM modules into Observable.

[2021-03-02 18:13] domoritz commented on #383
🙌 thanks for the link. `stdlib = require('@stdlib/dist-tree')` is perfect for experimenting and the esm imports for individual packages are perfect once you know what you need.

[2021-03-02 18:15] kgryte commented on #383
Awesome. Let us know if we can be of any further help. :)

[2021-03-11 09:04] kgryte commented on #373
Another possibility for reducing clone time is performing a shallow clone + sparse checkout. This is discussed on [SO](https://stackoverflow.com/questions/600079/how-do-i-clone-a-subdirectory-only-of-a-git-repository).

[2021-03-14 15:59] domoritz opened #386 "RFC: Promisify benchmark harness"
It would be great to have native support for promises in the harness so that the benchmark can be used in Observable. https://next.observablehq.com/@kgryte/stdlib-writing-benchmarks describes how to create the promisified harness but I propose to add this code to stdlib directly.

[2021-03-23 21:52] aminya opened #389 "Simplify contribution"
Could you please simplify contributing to this project?

Some of my suggestions:
- reducing the number of requirements
- simplifying PR template
- automating the doc and readme generation from JSDoc instead of the need for copy pasting them in so many places
- Reduce the amount of docs that people should read. In #385 I added a TLDR that could replace the whole Contributing.md.
- The code of condu

[2021-03-23 23:55] kgryte commented on #389
@aminya Thanks for reaching out.

While I agree that making the contribution process as easy and straightforward as possible is a desirable goal and that we thus far fall short of that goal, I do think that the situation is more complicated and nuanced than your suggestions suggest.

1.  **Requirements**: if you are referring to development requirements, such as dependency installation, etc, this

[2021-04-02 01:42] aminya commented on #389
I created this issue to help the project gain more contributors. The decision is up to you.

[This](https://github.com/AssemblyScript/assemblyscript/pull/1733#issue-593999575) is all you need, if you are concerned with stylistic/legal/moral/political/etc things related to contribution. Adding more checkmarks doesn't help.
![image](https://user-images.githubusercontent.com/16418197/113370877-957033

[2021-04-05 21:58] chriszrc opened #390 ""ReferenceError: __dirname is not defined" - Using the library client side is failing because of references to __dirname"
## Checklist
-   [x] Read and understood the [Code of Conduct][code-of-conduct].
-   [x] Searched for existing issues and pull requests.

## Description
Using the stdlib dependency in a client side application (using `npm install @stdlib/stdlib`) results in the following error:

ReferenceError: __dirname is not defined     at Object../node_modules/@stdlib/stdlib/lib/node_modules/@stdlib/blas/ext/b

[2021-04-05 22:48] kgryte commented on #390
@chriszrc How are you trying to load `stdlib` in a client side application? Are you using a bundler, such as Webpack or browserify, or are you trying to load as an ES module?

[2021-04-06 12:07] chriszrc commented on #390
Hi,

It's an angular app, so yes, written with es modules, but bundled with
webpack. Interestingly, changing the stdlib dependency to point directly at
github rather than npm ( `"@stdlib/stdlib":"github:stdlib-js/stdlib#develop",`) allows everything to work just fine

On Mon, Apr 5, 2021, 7:48 PM Athan ***@***.***> wrote:

[2021-04-06 16:49] kgryte commented on #390
@chriszrc There may be an issue with your webpack configuration.

@Planeshifter Perhaps you have some insight here, given your experience with using stdlib with webpack?

[2021-04-07 00:52] kgryte commented on #390
@chriszrc Tracked it down. The latest version on GitHub has a bug fix. Will publish a new version tomorrow with the fix. Does that work for you?

[2021-04-07 12:22] chriszrc commented on #390
@kgryte nice! yes, as I mentioned, pointing directly to github worked fine, but yes, having it up to date on npm is certainly better-

[2021-04-16 13:43] denis-migdal opened #391 "Bad require"
## Description

When using mt19937/lib/factory.js, I had the following error : "isPositiveInteger is not a function".

Indeed, it is imported as :
`var isPositiveInteger = require( '@stdlib/assert/is-positive-integer' ).isPrimitive;`

While being exported as :
[code]

When fixing it, I have the same error with isInteger, then with isNumber, then with randu.

Version I use is 0.0.93.

I previously

[2021-04-16 14:12] denis-migdal commented on #391
Okay, I got this.

You have both a main.js and index.js file in the same directory. My webpack configuration fetched the main.js instead of the index.js. main.js had priority over index.js in my configuration.

Having both index and main files in the same directory seems (to me) to be a dangerous idea for a library.

[2021-04-16 14:21] Planeshifter commented on #391
Glad to hear the problem was resolved!

Since each package comes with a `package.json` file with an appropriate [`main` entry](https://github.com/stdlib-js/stdlib/blob/eba25c1098acac67c87ea89967dc1ebb90925cbd/lib/node_modules/%40stdlib/assert/is-positive-integer/package.json#L16), you should not have to concern yourself with the internal structure of the package but be able to point Webpack direct

[2021-04-16 15:26] denis-migdal commented on #391
Thanks for your answer. I checked my webpack configuration and stdlib's package.json.

stdlib package.json files have their main field written as : `"main": "./lib",`.

Maybe it should be better to explicitly point to the file : `"main": "./lib/index.js",` ?

(I am self taught in webpack/node, so I might be lacking some knowledge about best practices).

[2021-04-16 16:50] kgryte commented on #391
@denis-migdal Was there a particular reason you had configured webpack to prefer `main.js` or `index.js`?

We generally assume throughout the project that users (and bundlers) will rely on the Node.js module resolution algorithm which assigns special status to `index.js` as the default file which is resolved when only a directory is specified (e.g., `./lib`; this is similar to the privileged statu

[2021-04-17 08:37] denis-migdal commented on #391
This is indeed the default behavior.

However, such behavior can be changed depending on the project. For example, in web servers, we might want to prefer e.g. index.php over index.html.

I tried to check, node does not seem to have an option to prefer e.g. main.js over index.js, so that's a behavior specific to Webpack. This is quite useful in some situations, but it shouldn't be used for depende

[2021-04-17 08:37] #391 closed, assigned to nobody

[2021-04-17 09:01] denis-migdal commented on #391
Issue for Webpack posted here: https://github.com/webpack/webpack/issues/13170

[2021-04-18 06:23] kgryte commented on #391
Thanks, @denis-migdal!

[2021-04-26 06:30] kgryte commented on #390
@chriszrc A new version has been published. Let me know if you run into any issues. :)

[2021-04-26 06:30] #390 closed, assigned to nobody

[2021-05-09 16:03] kgryte opened #392 "RFC: add support to CI to ensure the project can be topologically sorted"
## Checklist

-   [x] Read and understood the [Code of Conduct][code-of-conduct].
-   [x] Searched for existing issues and pull requests.
-   [x] The issue name begins with `RFC:`.

## Description

This RFC proposes that a continuous integration (CI) task be added to ensure that the project can be topologically sorted. This would help ensure that the project can be decomposed into individual packa

[2021-06-29 06:59] kgryte opened #393 "Investigate `@stdlib/math/base/dist/negative-binomial/quantile` performance issues"
Investigate `@stdlib/math/base/dist/negative-binomial/quantile` performance issues

[2021-06-29 06:59] kgryte opened #394 "Review `@stdlib/string/remove-punctuation`"
Review `@stdlib/string/remove-punctuation`

[2021-06-29 06:59] kgryte opened #395 "replace `testling` :("
replace `testling` :(

[2021-06-29 06:59] kgryte opened #396 "Fix long dashes in raw SOTU addresses"
Fix long dashes in raw SOTU addresses

[2021-06-29 06:59] kgryte opened #397 "Get license information for Wal-Mart store opening data => http://users.econ.umn.edu/~holmes/data/WalMart/index.html"
Get license information for Wal-Mart store opening data => http://users.econ.umn.edu/~holmes/data/WalMart/index.html

[2021-06-29 06:59] kgryte opened #398 "Review error swallowing by synchronous `fs` methods"
Review error swallowing by synchronous `fs` methods

[2021-06-29 06:59] kgryte opened #399 "Profile `kstest`"
Profile `kstest`

[2021-06-29 06:59] kgryte opened #400 "Create profiling tools"
Create profiling tools

[2021-06-29 06:59] kgryte opened #401 "set up a bot which archives Slack history. https://api.slack.com/methods/channels.history"
set up a bot which archives Slack history. https://api.slack.com/methods/channels.history

[2021-06-29 06:59] kgryte opened #402 "investigate implementing something like timed tape for finding slow running tests"
investigate implementing something like timed tape for finding slow running tests

[2021-06-29 06:59] kgryte opened #403 "improve `kstest` performance"
improve `kstest` performance

[2021-06-29 06:59] kgryte opened #404 "implement `ziggurat` algo"
implement `ziggurat` algo

[2021-06-29 06:59] kgryte opened #405 "Comparative analysis of Box-Muller and Improved Ziggurat (kstest, perf, etc)"
Comparative analysis of Box-Muller and Improved Ziggurat (kstest, perf, etc)

[2021-06-29 06:59] kgryte opened #406 "Assess whether to create a `function`/`functional` top-level namespace"
Assess whether to create a `function`/`functional` top-level namespace

[2021-06-29 06:59] kgryte opened #407 "Consider more specialized folders for `math/base/special` packages (see https://www.mathworks.com/help/matlab/functionlist.html)"
Consider more specialized folders for `math/base/special` packages (see https://www.mathworks.com/help/matlab/functionlist.html)

[2021-06-29 06:59] kgryte opened #408 "Create a `stdlib` presentation template"
Create a `stdlib` presentation template

[2021-06-29 06:59] kgryte opened #409 "Create a bot which can auto-restart a Travis job"
Create a bot which can auto-restart a Travis job

[2021-06-29 06:59] kgryte opened #410 "Where appropriate, replace all instances of `console.log` with `fprintf` (once implemented)"
Where appropriate, replace all instances of `console.log` with `fprintf` (once implemented)

[2021-06-29 06:59] kgryte opened #411 "Consider Monte Carlo simulations of pi to evaluate PRNGs (https://gist.github.com/mmalone/796d959dcf5b780106f4)"
Consider Monte Carlo simulations of pi to evaluate PRNGs (https://gist.github.com/mmalone/796d959dcf5b780106f4)

[2021-06-29 06:59] kgryte opened #412 "Investigate port scanning instead of always attempting to bind to a specific port within tests"
Investigate port scanning instead of always attempting to bind to a specific port within tests

[2021-06-29 06:59] kgryte opened #413 "tool to generate a padded and aligned Markdown table from CSV and/or JSON"
tool to generate a padded and aligned Markdown table from CSV and/or JSON

[2021-06-29 06:59] kgryte opened #414 "remark plugin (akin to eqns/figure) which generates a Markdown table from either embedded data or a data file"
remark plugin (akin to eqns/figure) which generates a Markdown table from either embedded data or a data file

[2021-06-29 06:59] kgryte opened #415 "Convert all links to `bit.ly` (or something similar) links to allow tracking (can be a build tool)"
Convert all links to `bit.ly` (or something similar) links to allow tracking (can be a build tool)

[2021-06-29 06:59] kgryte opened #416 "Create a plugin for processing `<a name=“”></a>` tags so that `remark-validate-links` can validate relative links (see https://github.com/wooorm/remark-validate-links/issues/1)"
Create a plugin for processing `<a name=“”></a>` tags so that `remark-validate-links` can validate relative links (see https://github.com/wooorm/remark-validate-links/issues/1)

[2021-06-29 06:59] kgryte opened #417 "Add FAQ Q&A: what are the long term goals of the project?"
Add FAQ Q&A: what are the long term goals of the project?

[2021-06-29 06:59] kgryte opened #418 "Debug examples when running Node v5.x on Windows (AppVeyor)"
Debug examples when running Node v5.x on Windows (AppVeyor)

[2021-06-29 06:59] kgryte opened #419 "Consider a “fresh” implementation of `streams` (handling backpressure, etc), but free of the legacy constraints in Node core"
Consider a “fresh” implementation of `streams` (handling backpressure, etc), but free of the legacy constraints in Node core

[2021-06-29 06:59] kgryte opened #420 "Consider whether `ml` should have sub-namespaces (need to determine ml categories, if any)"
Consider whether `ml` should have sub-namespaces (need to determine ml categories, if any)

[2021-06-29 06:59] kgryte opened #421 "Add support for installing Boost on Windows (http://www.boost.org/users/history/version_1_62_0.html)"
Add support for installing Boost on Windows (http://www.boost.org/users/history/version_1_62_0.html)

[2021-06-29 06:59] kgryte opened #422 "Review `@stdlib/utils/deep-set` and consider supporting another means for providing a “setter” function (currently cannot deep set a function value)"
Review `@stdlib/utils/deep-set` and consider supporting another means for providing a “setter” function (currently cannot deep set a function value)

[2021-06-29 06:59] kgryte opened #423 "Add `@stdlib/net/https-server`"
Add `@stdlib/net/https-server`

[2021-06-29 06:59] kgryte opened #424 "Refactor `@stdlib/nlp/lda`"
Refactor `@stdlib/nlp/lda`

[2021-06-29 06:59] kgryte opened #425 "Add CI build task to test against different `npm` versions."
Add CI build task to test against different `npm` versions.

[2021-06-29 06:59] kgryte opened #426 "Time functions should support locales other than English"
Time functions should support locales other than English

[2021-06-29 06:59] kgryte opened #427 "AppVeyor is not sending coverage report to Codecov (see https://ci.appveyor.com/project/kgryte/stdlib/build/1936/job/xjj8ymts2e18rvou)"
AppVeyor is not sending coverage report to Codecov (see https://ci.appveyor.com/project/kgryte/stdlib/build/1936/job/xjj8ymts2e18rvou)

[2021-06-29 06:59] kgryte opened #428 "Explore asynchronous compute add-ons"
Explore asynchronous compute add-ons

[2021-06-29 06:59] kgryte opened #429 "create `stdlib-bot` github acct"
create `stdlib-bot` github acct

[2021-06-29 06:59] kgryte opened #430 "add plot CLI"
add plot CLI

[2021-06-29 06:59] kgryte opened #431 "add plot README"
add plot README

[2021-06-29 06:59] kgryte opened #432 "resolve issues re:`isDefined`. Currently, has to apply in different contexts; e.g., path, scatter, rug, etc. Maybe separate `x` and `y` accessors? May require either a custom `line` generator (yes, eventually), or an internal wrapper which wraps the separate accessors as a single fcn call."
resolve issues re:`isDefined`. Currently, has to apply in different contexts; e.g., path, scatter, rug, etc. Maybe separate `x` and `y` accessors? May require either a custom `line` generator (yes, eventually), or an internal wrapper which wraps the separate accessors as a single fcn call.

[2021-06-29 06:59] kgryte opened #433 "support line opacity"
support line opacity

[2021-06-29 06:59] kgryte opened #434 "refactor svg components and how they do validation"
refactor svg components and how they do validation

[2021-06-29 06:59] kgryte opened #435 "Fix complexity `make` recipes as will exceed maximum line length in shell"
Fix complexity `make` recipes as will exceed maximum line length in shell

[2021-06-29 06:59] kgryte opened #436 "Implement `@stdlib/math/base/special/round` with support for alternative rounding modes (e.g., `roundnearest` with ties to even, etc)"
Implement `@stdlib/math/base/special/round` with support for alternative rounding modes (e.g., `roundnearest` with ties to even, etc)

[2021-06-29 06:59] kgryte opened #437 "Refactor `@stdlib/utils/is-typed-array` to address Symbols"
Refactor `@stdlib/utils/is-typed-array` to address Symbols

[2021-06-29 06:59] kgryte opened #438 "Add `@stdlib/math/fast/special/exp10` (see https://github.com/JuliaLang/julia/blob/master/base/fastmath.jl#L282 => should include benchmarks to confirm faster)"
Add `@stdlib/math/fast/special/exp10` (see https://github.com/JuliaLang/julia/blob/master/base/fastmath.jl#L282 => should include benchmarks to confirm faster)

[2021-06-29 06:59] kgryte opened #439 "Evaluate whether to return `NaN` for non-integer base and power parameters in `@stdlib/math/base/special/*` round functions"
Evaluate whether to return `NaN` for non-integer base and power parameters in `@stdlib/math/base/special/*` round functions

[2021-06-29 06:59] kgryte opened #440 "Create shared memory example once `daxpy` has WASM interface"
Create shared memory example once `daxpy` has WASM interface

[2021-06-29 06:59] kgryte opened #441 "Evaluate need for `is-numeric-array`"
Evaluate need for `is-numeric-array`

[2021-06-29 06:59] kgryte opened #442 "Finish `@stdlib/math/base/special/betainc` (especially JSDoc)"
Finish `@stdlib/math/base/special/betainc` (especially JSDoc)

[2021-06-29 07:01] #418 closed, assigned to nobody

[2021-06-29 07:01] #419 closed, assigned to nobody

[2021-06-29 07:01] #420 closed, assigned to nobody

[2021-06-29 07:01] #421 closed, assigned to nobody

[2021-06-29 07:01] #422 closed, assigned to nobody

[2021-06-29 07:01] #423 closed, assigned to nobody

[2021-06-29 07:01] #424 closed, assigned to Planeshifter

[2021-06-29 07:01] #425 closed, assigned to nobody

[2021-06-29 07:01] #426 closed, assigned to nobody

[2021-06-29 07:01] #427 closed, assigned to nobody

[2021-06-29 07:01] #428 closed, assigned to nobody

[2021-06-29 07:01] #429 closed, assigned to nobody

[2021-06-29 07:01] #430 closed, assigned to nobody

[2021-06-29 07:01] #431 closed, assigned to nobody

[2021-06-29 07:01] #432 closed, assigned to nobody

[2021-06-29 07:01] #433 closed, assigned to nobody

[2021-06-29 07:01] #434 closed, assigned to nobody

[2021-06-29 07:01] #435 closed, assigned to nobody

[2021-06-29 07:01] #436 closed, assigned to nobody

[2021-06-29 07:01] #437 closed, assigned to nobody

[2021-06-29 07:01] #438 closed, assigned to nobody

[2021-06-29 07:01] #439 closed, assigned to nobody

[2021-06-29 07:01] #440 closed, assigned to nobody

[2021-06-29 07:01] #441 closed, assigned to kgryte

[2021-06-29 07:01] #442 closed, assigned to nobody

[2021-06-29 07:02] #393 closed, assigned to Planeshifter

[2021-06-29 07:02] #394 closed, assigned to kgryte

[2021-06-29 07:02] #395 closed, assigned to nobody

[2021-06-29 07:02] #396 closed, assigned to nobody

[2021-06-29 07:02] #397 closed, assigned to nobody

[2021-06-29 07:02] #398 closed, assigned to nobody

[2021-06-29 07:02] #399 closed, assigned to nobody

[2021-06-29 07:02] #400 closed, assigned to nobody

[2021-06-29 07:02] #401 closed, assigned to nobody

[2021-06-29 07:02] #402 closed, assigned to nobody

[2021-06-29 07:02] #403 closed, assigned to nobody

[2021-06-29 07:02] #404 closed, assigned to nobody

[2021-06-29 07:02] #405 closed, assigned to nobody

[2021-06-29 07:02] #406 closed, assigned to nobody

[2021-06-29 07:02] #407 closed, assigned to nobody

[2021-06-29 07:02] #408 closed, assigned to nobody

[2021-06-29 07:02] #409 closed, assigned to nobody

[2021-06-29 07:02] #410 closed, assigned to nobody

[2021-06-29 07:02] #411 closed, assigned to nobody

[2021-06-29 07:02] #412 closed, assigned to nobody

[2021-06-29 07:02] #413 closed, assigned to nobody

[2021-06-29 07:02] #414 closed, assigned to nobody

[2021-06-29 07:02] #415 closed, assigned to nobody

[2021-06-29 07:02] #416 closed, assigned to nobody

[2021-06-29 07:02] #417 closed, assigned to nobody

[2021-07-11 22:33] s3o0od888 commented on #375
v14.6.0

[2021-07-11 22:34] s3o0od888 commented on #375
Unc0ver v14.6.0

[2021-08-06 18:05] danieldjewell opened #445 "[RFC]: Array Matrix Math (Possible? Documentation?)"
### Description

One of the nice (if not obligatory) features of Numpy is the ability to perform basic arithmetic on ndarrays ... (e.g. ``` array1+array2 ```) [Granted, the reason this is relatively easy to implement in Python is because allows you to provide methods to handle the use of operators... I don't think JavaScript has the same option?]

Is there a way to do this with stdlib arrays (of a

[2021-08-12 22:30] Planeshifter commented on #164
Closing as this feature [has already been added](https://github.com/stdlib-js/stdlib/commit/16ce64d639321aa79023608193f2bb7970ded211#diff-45c4bd632f160158fb1a8ee6ca9080c3352ca7ec6aacb6a3afcc11dbec289caf).

[2021-08-12 22:30] #164 closed, assigned to nobody

[2021-08-13 00:39] Planeshifter commented on #159
This function has now been added.

[2021-08-13 00:39] #159 closed, assigned to nobody

[2021-08-13 00:39] Planeshifter commented on #165
This function has now been added.

[2021-08-13 00:39] #165 closed, assigned to nobody

[2021-08-13 02:13] kgryte commented on #369
Linking to the relevant [line(s)](https://github.com/stdlib-js/stdlib/blob/69740f85f595a8b874db9297a64c3dd9a9ff8f78/lib/node_modules/%40stdlib/math/strided/special/dsqrt/benchmark/c/benchmark.length.c#L120) which would need to be changed across the project.

[2021-08-13 14:29] Planeshifter commented on #160
@kgryte Doesn't `isFunction` serve the purpose of this package perfectly fine? In what circumstances would the behavior differ?

[2021-08-13 17:41] kgryte commented on #160
I believe `isCallable` is intended to be more generic (see [here](https://github.com/inspect-js/is-callable/blob/680a8839071bf36a419fe66e1ced7a3303c27b28/test/index.js)). For practical purposes in the project, `isFunction` should suffice for input validation. However, for checking for other function flavors, we may want a looser check to filter out non-callable objects before more specific checks.

[2021-08-13 17:57] Planeshifter commented on #163
Added per https://github.com/stdlib-js/stdlib/commit/d1d583aad5860282e602ca82ca72c82e482f7b6a.

[2021-08-13 17:57] #163 closed, assigned to nobody

[2021-08-13 23:28] #373 closed, assigned to nobody

[2021-08-14 00:08] kgryte commented on #389
PR template simplified in https://github.com/stdlib-js/stdlib/commit/102cf1386f9a54c07ffc9092f4a218d251a11e9e.

[2021-08-14 00:13] kgryte commented on #389
Most the concerns raised in the OP have now been addressed, except for doc generation which is not possible atm given varying use cases and audiences.

If there are additional concerns/suggestions, they can be raised in a subsequent issue.

[2021-08-14 00:13] #389 closed, assigned to nobody

[2021-08-14 00:17] kgryte commented on #383
**Update**: individual packages are now [consumable](https://www.npmjs.com/org/stdlib). While the individual packages do not expose UMD bundles atm, one can locally install and then bundle for use in web applications.

[2021-08-21 20:54] kgryte commented on #445
@danieldjewell Agreed! A NumPy-to-stdlib cheatsheet is something we'd like to add. I've added it to our internal tracker.

Regarding element-wise addition, in your example, `array1 + array2`, unfortunately, this is not possible atm in JavaScript due to the lack of operator overloading. We are in the process, however, of adding functional APIs (e.g., `add(x, y)`) similar to Julia's `+(x,y)` ability

[2021-08-21 21:15] #375 closed, assigned to nobody

[2021-08-28 11:08] mobljs commented on #362
can I use it now ?

[2021-08-28 18:38] kgryte commented on #362
@mobljs We do have functionality for getting the next extended grapheme cluster break; however, we have yet to add similar functionality for getting the **previous** grapheme cluster break.

You need the latter, rather than the former? Or stated otherwise, what is your use case?

[2021-09-03 18:14] kgryte commented on #269
This has now been addressed in the latest documentation [release](https://stdlib.io/docs/api/latest/@stdlib/symbol).

[2021-09-03 18:14] #269 closed, assigned to nobody

[2021-09-03 18:17] kgryte commented on #87
We no longer us AppVeyor and Node.js v5 is an older, unstable Node.js version, so probably not worth investigating.

[2021-09-03 18:17] #87 closed, assigned to nobody

[2021-09-03 18:21] kgryte commented on #274
This has now been added in the [`padjust`](https://github.com/stdlib-js/stdlib/tree/90145d59bd746ba47ce71f2a0f369709e0bae829/lib/node_modules/%40stdlib/stats/padjust) package.

[2021-09-03 18:21] #274 closed, assigned to Planeshifter

[2021-09-26 07:04] cff3 opened #458 "Getting unexepected results from chi2test"
### Description

I'm evaluating chi2test. In some cases I'm getting results that differ from other chi square independence tests available on the web.

As a pattern it seems to me that chi2test is producing results expected if number of columns and number of rows are equal but give different results if there are more rows than columns or vice versa.

I'm using the following examples and implementa

[2021-09-26 08:35] kgryte commented on #458
@Planeshifter You have thoughts on this?

[2021-09-26 18:25] Planeshifter commented on #458
Thank you @cff3 for filing this issue!

Can confirm that due to an unfortunate indexing bug, the calculation of the test statistic could be off for non-square input matrices. Just published a patch (`v0.0.7`) for the `@stdlib/stats-chi2test` package that should now always return the expected results. Tests have been updated to confirm the results now match those of R for the two failing examples f

[2021-09-26 20:12] kgryte commented on #458
Thanks for pushing out a quick fix @Planeshifter!

[2021-09-26 22:46] marcospassos opened #459 "Really slow beta distribution"
### Description

Computing the beta distribution is really slow when alpha >= 1.5 and beta <= 1. For example, computing the beta distribution for `alpha = 1001`, and `beta = 1`, takes up to 8 seconds.

Any suggestion on how to make it faster?

### Reproduction

[code]

### Version

0.0.5

### Environments

Node.js

### Node.js / npm Version

v14.17.1

### Platform

OSX

### Checklist

- [X] Read a

[2021-09-26 23:04] kgryte commented on #459
@marcospassos Just did a quick test in the stdlib REPL and I am not able to reproduce the slowdown. One question: when you refer to `8` seconds are you doing something like the following in order to generate an array of random numbers:

[code]

or does it take `8` seconds to get a single value (e.g., `it.next()`)?

If the former, while generating `10K` random numbers on my 2013 Macbook Pro took 1-

[2021-09-26 23:11] kgryte commented on #459
I also just ran the [benchmarks](https://stdlib.io/docs/api/latest/@stdlib/random/iter/beta/benchmarks) for [`@stdlib/random/iter/beta`](https://stdlib.io/docs/api/latest/@stdlib/random/iter/beta) (both in Node.js and in Chrome) and got the following results:

[code]

Based on the above, the package was able to generate `1M` random numbers in less than half a second.

So, I am not sure the cause f

[2021-09-26 23:11] marcospassos commented on #459
Yeah, that's almost exactly the snippet I'm running (we're using the lib for Bayesian A/B computing):

[code]

I got fast results for any other case where alpha == beta, or beta > 1. So it seems something related to the `sample3` case.

[2021-09-26 23:14] kgryte commented on #459
**Update**: okay. I am seeing the slowdown, as well. Ran the benchmarks with `alpha = 1001` and `beta = 1` and got the following results locally:

[code]

So, extrapolating a bit, the `8` seconds you are seeing makes sense.

[2021-09-26 23:19] marcospassos commented on #459
@kgryte this a simple snippet that reproduces the issue:

[code]

[code]

This is the best stat library for JS we've seen so far. Congrats on the great work! Unfurntanatelly, this performance is not only unacceptable for our use case but also a security issue. Do you see any workaround?

[2021-09-26 23:25] kgryte commented on #459
@marcospassos You are correct that the `sample3` case is the issue. In particular, [L53](https://github.com/stdlib-js/stdlib/blob/367ce265e0244f5531c4066effb4e97a9c3e0c13/lib/node_modules/%40stdlib/random/base/beta/lib/sample3.js#L53) and the reason why becomes evident from the preceding lines:

[code]

For `u = 0.5` (the average value), `alpha = 1001`, and `beta = 1`, we have

[code]

In which ca

[2021-09-26 23:31] marcospassos commented on #459
Well, seeding is essential for us, as well as good randomness. I tried pre-allocating the array, but it resulted in almost no performance improvement. For bayesian experiments, 10.000 simulations are like an industry standard. So I don’t see any viable alternative, at least for us :(. Hope @Planeshifter can help out here

[2021-09-26 23:34] kgryte commented on #459
[`@stdlib/random/base/minstd-shuffle`](https://github.com/stdlib-js/stdlib/tree/develop/lib/node_modules/%40stdlib/random/base/minstd-shuffle) could be a good option. While LCGs have a shorter period and the output can have "structure", they are good enough for many use cases.

[2021-09-26 23:47] marcospassos commented on #459
But do you believe the problem is related to the PRNG? Cause I think it's more connected to the distribution algorithm. Libraries like SciPy or jStats doesn't have the same issue (maybe a good source of inspiration for the solution)

[2021-09-27 00:03] kgryte commented on #459
@marcospassos One thing to note is that, looking at the PDF of the beta distribution for `alpha = 1001` and `beta = 1`, you have a very skewed distribution.

jStat always uses gamma random variates. This may or may not produce good results, depending on the regime.

We use a similar algorithm as NumPy for generating random variates for the beta distribution. However, we are investigating, and are

[2021-09-27 00:11] marcospassos commented on #459
To give you more context, such a skewed distribution is an actual use case for [uninformative prior](https://en.wikipedia.org/wiki/Prior_probability#:~:text=An%20uninformative%20prior%20can%20be%20created%20to%20reflect%20a%20balance%20among%20outcomes%20when%20no%20information%20is%20available.).

[2021-09-27 07:43] cff3 commented on #458
Thank you @Planeshifter and @kgryte . That was extraordinary quick. I can confirm with 0.0.7  results are as expected.

@Planeshifter, one more question before closing: There is no 0.0.7 for chi2gof. I did not started to test chi2gof yet but will do soon. Is chi2gof-0.0.6 eventually affected by the same issue?

[2021-09-27 07:49] kgryte commented on #458
@cff3 I don't believe that `chi2gof` is affected by the same issue, but feel free to test on your end. 😄

[2021-09-27 07:59] cff3 commented on #458
Thanks @kgryte. I'll close this one. If I find some unexpected results in chi2gof I'll open a new one.
Thanks a lot for stdlib

[2021-09-27 07:59] #458 closed, assigned to Planeshifter

[2021-09-27 08:00] kgryte commented on #458
No problem, @cff3. Happy to help! 🙌

[2021-09-27 14:00] Planeshifter commented on #459
After investigation, it turned out we used an algorithm optimized for small parameter values for the parameter range for which you were generating random variates (i.e., large `alpha` but `beta` not exceeding `1.0`). While technically correct in returning draws from the respective distribution, the algorithm becomes more and more inefficient the larger the parameter values, as you encountered. We

[2021-09-27 15:22] marcospassos commented on #459
We're already using it, and the performance is excellent, as mentioned! Thank you very much for the quick reply. And again, congrats on the great work. This is **the** missing library for Node.

[2021-09-27 15:22] #459 closed, assigned to Planeshifter

[2021-11-22 10:25] statts opened #465 "Issue including lib in node (win11)"
Whenever I try to include a library from Stdlib I get the following error:
LINK : fatal error LNK1181: cannot open input file 'm.lib' [E:\Projects\vt\Customer_Web\vue-main\node_modules\@stdlib\math-base-assert-is-negative-zero\build\addon.vcxproj]

This is working on other PCs and OSs so I'm not sure if it is a Win11 issue or something else but StackOverflow suggests removing the reference to the

[2021-11-23 11:12] zhangyufei49 opened #466 "mt19937 random module define the 'MIN' with value '1'"
### Description

## code lines

mt19937.MIN  is **1** in stdlib-js
[https://github.com/stdlib-js/random-base-mt19937/blob/6865e300633a39b23394ddbe74f027d919425e60/src/main.c?_pjax=%23js-repo-pjax-container#L136](https://github.com/stdlib-js/random-base-mt19937/blob/6865e300633a39b23394ddbe74f027d919425e60/src/main.c?_pjax=%23js-repo-pjax-container#L136)
[code]

But **0** in LLVM libc++ library:
[h

[2021-11-23 19:31] kgryte commented on #466
@FlyingFishBird Thanks for reporting this. Indeed, you seem to be correct: the min value should be `0`. Will double check again and update accordingly.

[2021-11-26 16:57] Planeshifter commented on #465
Thanks for filing this issue. After initial investigation, it seems that, for some reason, the build step of the included native addons fails for you on Windows 11. Ideally, the build step shouldn't run at all right now for the individual packages by default (and we have configured the `package.json` files as such), but it seems this is not followed by latest `npm` versions.

Temporary workarounds

[2021-11-26 17:11] statts commented on #465
Thank-you for coming back on this issue, actually that is very helpful. Especially because I had other members my dev team try this and they had no issue, and also I had no issue when I tried on an older machine also running win 11 - it makes sense that it is npm version related as the pc with the issue is a new install which would have had latest NPM by default. I will use NVM and an older versio

[2021-12-12 15:41] lightmare opened #468 "`iterUniqueBy` treats iterator return value as part of sequence"
### Description

`iterUniqueBy` calls the "uniqueness" predicate function on the iterator's return value. This is wrong, the return value is not part of the sequence, and cannot be skipped. A `yield* ...` expression doesn't distinguish between missing `value` and `undefined`.

source:
https://github.com/stdlib-js/iter-unique-by/blob/3c5a1bd4b7343469b5f03a9778c4e5b4db435454/lib/main.js#L139-L147

#

[2021-12-12 22:05] kgryte commented on #468
@lightmare Thanks for filing an issue. I am able to reproduce the described behavior; however, I am not convinced that this is a bug in the implementation of `iterUniqueBy`.

Namely, we cannot readily distinguish between the case where a `value` property is present, but not set, and when it is present, but set to `undefined`.

In your example above, however, you have more knowledge of the input da

[2021-12-12 22:19] kgryte commented on #468
**Aside**: for posterity, just to confirm that `yield *` is not doing something unexpected here, this behavior is expected according to the ECMAScript [specification](https://tc39.es/ecma262/multipage/ecmascript-language-functions-and-classes.html#sec-generator-function-definitions-runtime-semantics-evaluation).

Namely, `value` is to be set to the result of `iteratorValue`, even when `done` is `t

[2021-12-13 00:10] lightmare commented on #468
Problem is that the code in `iterUniqueBy` does distinguish between these two.

This might be an issue of invalid assumptions on my side, as I'm not familiar with this library, and came to it with some preconceived notions of what iterators are. So it caught me by surprise that you treat the iterator's return value as an element of the sequence.

After checking some other functions, I see that thi

[2021-12-13 21:13] kgryte commented on #468
@lightmare I am going to course correct here, and admit that we misinterpreted an ambiguity in the spec returning iterator return values. We'll be refactoring our iterator implementations accordingly over the coming week. These changes should be included in the next stdlib release.

Thanks for filing this issue. Will circle back with updates.

[2021-12-16 09:35] kgryte commented on #468
@lightmare The reported issue has now been resolved upstream via https://github.com/stdlib-js/stdlib/commit/2ae9a800a63a0c8655affb2d8a9348a5ad0ab064. These changes should be in the next release of the individual package.

To confirm that the changes match the expected behavior in the OP, here is the following output from the `stdlib` REPL:

[code]

[2021-12-16 09:38] kgryte commented on #468
@lightmare The changes have been pushed out to the individual package: https://github.com/stdlib-js/iter-unique-by/blob/e9b882e4d6241cfe585ee1cea889c106a52cd779/lib/main.js.

To use immediately, you can install the package directly from GitHub. Otherwise, as mentioned in the previous comment, the behavior should be fixed in the next published release.

Thanks for reporting this issue and your pati

[2021-12-18 13:07] lightmare commented on #468
Thanks. I've checked a bunch of functions (`iterLength`, `iterConcat`, `iterMap`, `iterUniqueBy`) and they no longer include iterator return value in the sequence. Closing.

[2021-12-18 13:07] #468 closed, assigned to nobody

[2021-12-18 14:39] lightmare opened #469 "[RFC]: rename (or redefine?) math.base.assert.isInteger"
### Description

I got confused when reading some code using `isInteger`, because there are two different functions of that name:
- [assert.isInteger](https://stdlib.io/docs/api/latest/@stdlib/assert/is-integer), which returns `false` for infinities (like built-in `Number.isInteger`)
- [math.base.assert.isInteger](https://stdlib.io/docs/api/latest/@stdlib/math/base/assert/is-integer), which return

[2021-12-18 15:02] lightmare opened #470 "string package pulls all datasets"
### Description

This is not a bug per se, but something worth fixing nonetheless.

`@stdlib/string` depends on `@stdlib/datasets` (~150MB) only to use `@stdlib/datasets/stopwords-en` (<100kB).

### Related Issues

_No response_

### Questions

Side node: should `@stdlib/datasets` even exist as a single package?

### Demo

_No response_

### Reproduction

_No response_

### Expected Results

_No r

[2021-12-18 15:57] lightmare opened #471 "`assert.isIteratorLike` is too restrictive"
### Description

Currently the function looks like this:
[code]

[ES spec](https://tc39.es/ecma262/multipage/abstract-operations.html#sec-getiterator) requires that `Type(iterator)` is `Object`. Which includes functions.
[code]

Then [ES spec](https://tc39.es/ecma262/multipage/control-abstraction-objects.html#sec-iterator-interface) puts no restriction on `next.length`. Iterators created by callin

[2021-12-18 20:37] kgryte commented on #469
Hey @lightmare! Thanks for opening this issue.

`@stdlib/math/base/assert/is-integer` is a "base" implementation, and what is meant by that is that it eschews certain checks and assumes particular aspects of input values without validating that those assumptions are valid.

We use "base" implementations throughout the project in those contexts where we have knowledge about value characteristics (e

[2021-12-18 20:41] kgryte commented on #468
@lightmare Thanks for checking!

[2021-12-18 20:56] kgryte commented on #471
@lightmare Thanks for filing this issue.

I pushed https://github.com/stdlib-js/stdlib/commit/f7ee9af36ded6f62728bbf032e6adc33a89031d2 which relaxes the requirements to (1) allow `value` to be a `function` and (2) to no longer check that `next` is a nullary function.

I believe that should resolve this issue.

[2021-12-18 21:15] kgryte commented on #470
@lightmare Yeah, we're in a bit of a catch-22 here. We've discussed this internally and, by my assessment, we have three (less than ideal) options.

1.  Publish top-level namespaces to depend on only those individual datasets packages they actually use. This has the downside that, upon installing `@stdlib/stdlib`, users would then have duplication of datasets as `@stdlib/datasets-foo` would be ins

[2021-12-18 22:43] lightmare commented on #469
Wow, that explains a lot. Though putting it all together leads me back to `Number.isInteger`.

The [operation in question](https://tc39.es/ecma262/multipage/abstract-operations.html#sec-isintegralnumber)

is defined in terms of [mathematical operations](https://tc39.es/ecma262/multipage/notational-conventions.html#sec-mathematical-operations) on real numbers. I guess the `abs` in there is only a h

[2021-12-19 00:10] kgryte commented on #469
Luckily, we have some benchmarks for assessing the difference, with the caveat that perf will be dependent on the host machine, Node.js version (and thus V8 version), etc. Here are my results:

[code]

How to read the above:

-   `# @stdlib/assert/is-integer::primitives,true`: this is the benchmark name, which displays the package name along with facets following `::`, and, if present, `:` giving

[2021-12-19 00:14] lightmare commented on #470
Ad 1.

This duplication is happening already. If I install `@stdlib/string` and some other package depends on `@stdlib/string-acronym`, I end up with `@stdlib/datasets` and `@stdlib/datasets-stopwords-en`.

Which is partly why I asked whether `@stdlib/datasets` should even exist as a single monster package. It's a random collection of stuff that's never going to be needed whole. And it just duplic

[2021-12-19 00:24] kgryte commented on #470
Re: 1. Yeah, that is a fair point where a user has in their package tree both `@stdlib/string` and, say, `@stdlib/string-*`. I suppose our intuition is that the consumption distribution is mainly trimodal, with one mode being `@stdlib/stdlib`, the second being top-level namespaces, and the third being individual packages. As soon as consumption patterns overlap, we're kind of stuck in a sub-optima

[2021-12-29 18:15] kgryte commented on #470
@Planeshifter Looks like in `@stdlib/string/*`, the only package which explicitly depends on a dataset is `@stdlib/string/acronym`, which defaults to using English stopwords. We could just default to an empty array. This would alleviate the issue of `@stdlib/string` depending on `@stdlib/datasets`.

This would be somewhat akin to `@stdlib/string/remove-words` where we don’t default to any list of

[2022-01-12 23:26] kgryte opened #474 "Insufficient TypeScript declaration tests for `@stdlib/utils/circular-buffer`"
### Description

Upon inspection of the TypeScript declaration tests for `@stdlib/utils/circular-buffer`, I noticed that the current [tests](https://github.com/stdlib-js/stdlib/blob/9f4976914e42495101d6a0717626a28a0dea2b72/lib/node_modules/%40stdlib/utils/circular-buffer/docs/types/test.ts) do not cover the entire API.

These tests should be expanded to cover the entire API surface to ensure that

[2022-01-14 01:48] kgryte commented on #469
As this RFC is unlikely to be accepted, will close out...

[2022-01-14 01:48] #469 closed, assigned to nobody

[2022-01-19 02:35] kgryte commented on #470
This has now been addressed in https://github.com/stdlib-js/stdlib/commit/d96a0da70fcca6f13fdb2c87a9cef1a751c6b545. Thanks, @Planeshifter!

[2022-02-02 11:59] chambo-e opened #478 "Missing node-gyp on sub modules"
### Description

Hello 👋

When we try to install a sub package with yarn (not tested with npm) we have an error indicating that node-gyp is missing.

If I understand correctly it's in the dependencies of `@stdlib/stdlib` but not in the subpackages

A workaround might be to use `@stdlib/stdlib` to access subpackages but that is quite heavy to only use some functions

### Related Issues

Related iss

[2022-02-03 18:50] dorrin-sot commented on #345
Hi! Is this feature request accepted and if so, can I work on it?

[2022-02-03 19:50] kgryte commented on #345
@dorrin-sot Hey! This feature request is accepted, and you are more than welcome to work on it. Two reference packages which can serve as templates for implementing this feature:

-   [dnanmeanwd](https://github.com/stdlib-js/stdlib/tree/e3c14dd9a7985ed1cd1cc80e83b6659aeabeb7df/lib/node_modules/%40stdlib/stats/base/dnanmeanwd)
-   [dmeankbn](https://github.com/stdlib-js/stdlib/tree/e3c14dd9a7985ed

[2022-02-03 20:05] dorrin-sot commented on #345
Sure thanks, though since I have to resolve an issue for an assignment (in about 24 hours 🥲) I'll look around for similar feature requests.

[2022-02-03 20:06] kgryte commented on #345
Okay! No worries! Thanks for stopping by.

[2022-02-03 20:56] dorrin-sot commented on #346
Hi again! Is this feature request accepted and if so, can I work on it?

[2022-02-03 21:23] kgryte commented on #346
Hey, @dorrin-sot. Same concern as the other issue. Namely, I need to update the reference implementations. Maybe consider https://github.com/stdlib-js/stdlib/issues/227?

[2022-02-03 21:40] dorrin-sot commented on #346
thanks a lot ❤️

[2022-02-04 02:31] mohamadaminkarami commented on #474
Hi, Please check my pull request.

[2022-02-04 03:28] kgryte commented on #478
@chambo-e Thanks for reporting this issue. Our best guess is that yarn is not respecting the `gypfile: false` field in the `package.json` and is thus attempting to build the native add-ons, even though this is not intended.

We've pushed a [fix](https://github.com/stdlib-js/stdlib/commit/ca7bb5dfcaa1cb5ea2b5a7bcc00863cc2e723c1c) that should be included in the next release. Hopefully, this will res

[2022-02-04 12:53] chambo-e commented on #478
@kgryte Thanks a lot, I'll try as soon as the new release is published :)

[2022-02-15 06:21] #232 closed, assigned to nobody

[2022-02-15 06:22] #234 closed, assigned to nobody

[2022-02-15 19:35] #227 closed, assigned to nobody

[2022-02-15 23:17] #230 closed, assigned to nobody

[2022-02-17 03:33] #229 closed, assigned to nobody

[2022-02-17 05:51] #235 closed, assigned to nobody

[2022-02-17 05:56] kgryte commented on #478
New versions of sub-packages have now been published. This issue should now be resolved.

[2022-02-17 05:56] #478 closed, assigned to nobody

[2022-02-17 07:55] chambo-e commented on #478
@kgryte new versions works great, thanks !

[2022-02-17 07:59] kgryte commented on #478
@chambo-e Awesome! Thanks for reporting back! 😅

[2022-03-22 15:43] mmomtchev opened #489 "Current stdlib version triggers a bug in npm 6"
### Description

Encountered an error when trying to install stdlib with npm 6

[code]

(or `npm i @stdlib/stdlib`)

### Related Issues

https://github.com/npm/cli/issues/1600

### Questions

No.

### Demo

_No response_

### Reproduction

[code]

### Expected Results

_No response_

### Actual Results

[code]

### Version

0.0.13

### Environments

Node.js

### Browser Version

_No response_

###

[2022-04-06 05:11] samarth5611 commented on #222
Is this issue still open?
Interested to work if it's open!

[2022-04-06 06:40] kgryte commented on #222
@samartha5611 Go for it!

[2022-05-05 20:49] KBeDevel opened #491 "`@stdlib/string`: `startcase` function does not work when the input string is fully uppercase"
### Description

Encountered an unexpected result when trying to change the case of an enumerator key

The string is obtained using the logic: `Enumerator[Enumerator.EnumeratorKey]`

### Related Issues

No related issues found (yet)

### Questions

No.

### Demo

https://codesandbox.io/s/agitated-hill-v37msg?file=/src/App.tsx

### Reproduction

[code]

### Expected Results

[code]

### Actual Resu

[2022-05-06 01:24] Planeshifter commented on #491
Thank you for filing this issue and providing a detailed description!

The current behavior is intentional and matches our other `*case` functions such as `camelcase` and `pascalcase` in that it leaves uppercase character appearing in the middle of a word intact
(e.g., see [[1]](https://github.com/stdlib-js/stdlib/blob/5323416e8a90b30f9d7b40d91b280fe4e2978fcf/lib/node_modules/%40stdlib/string/came

[2022-05-06 01:24] #491 closed, assigned to nobody

[2022-05-07 15:47] quinn-dougherty opened #492 "[RFC]: skew-normal distribution"
### Description

This RFC proposes the [skew-normal distribution](https://en.wikipedia.org/wiki/Skew_normal_distribution)

### Related Issues

I didn't see any.

### Questions

No.

### Other

No.

### Checklist

- [X] I have read and understood the [Code of Conduct](https://github.com/stdlib-js/stdlib/blob/develop/CODE_OF_CONDUCT.md).
- [X] Searched for existing issues and pull requests.
- [X] Th

[2022-05-07 21:03] kgryte commented on #492
Hey, @quinn-dougherty! Thanks for filing this RFC.

This would definitely be a nice distribution to have. Does entail, however, a more involved implementation. Namely, we'd need integration facilities (see [SciPy](https://github.com/scipy/scipy/blob/b5d8bab88af61d61de09641243848df63380a67f/scipy/stats/_continuous_distns.py#L7482)) and  [Owen's T function](https://en.wikipedia.org/wiki/Owen%27s_T_f

[2022-06-01 05:44] #466 closed, assigned to nobody

[2022-06-01 05:46] kgryte commented on #466
This should now be resolved. A patch should be included in the next `@stdlib/random-base-mt19937` release, which should happen within the next few weeks.

[2022-06-13 05:13] titanism opened #496 "[RFC]: Improvements to @stdlib/nlp-expand-contractions"
### Description

We're writing as we found your library to be the most tested and fastest for expanding contractions.  For context, we're working on https://spamscanner.net and expanding contractions before passing to tokenizers for spam classification.

To clarify, this is with regards to the generated codebase <https://github.com/stdlib-js/nlp-expand-contractions> from the source at <https://git

[2022-06-13 05:30] titanism commented on #496
Doing a review and will submit a PR to `contractions.json` with changes.

Caught some interesting bugs like `"what's": "what has/is",` in the JSON (which is obviously a bug).

**The other question I wanted to raise is that we should probably handle `’` and `‘` and `’` interchangeably somehow.**

[2022-06-13 05:59] kgryte commented on #496
Re: missing contractions. Some of the entries in your list are already present in the contractions file. E.g., [`wouldn't've`](https://github.com/stdlib-js/stdlib/blob/6ba862b89d0b35e2c03024942ad234ecb2d0acc8/lib/node_modules/%40stdlib/nlp/expand-contractions/lib/contractions.json#L137), [`mightn't've`](https://github.com/stdlib-js/stdlib/blob/6ba862b89d0b35e2c03024942ad234ecb2d0acc8/lib/node_modu

[2022-06-13 06:02] kgryte commented on #496
@Planeshifter Is there a reason for the `what has/is` [entry](https://github.com/stdlib-js/stdlib/blob/6ba862b89d0b35e2c03024942ad234ecb2d0acc8/lib/node_modules/%40stdlib/nlp/expand-contractions/lib/contractions.json#L114)?

[2022-06-13 06:03] kgryte commented on #496
Re: fancy apostrophe. That should be possible to handle in the `@stdlib/nlp/tokenize` package.

[2022-06-13 06:14] titanism commented on #496
I'm about to submit a PR, one moment @kgryte

[2022-06-13 06:16] titanism commented on #496
See https://github.com/stdlib-js/stdlib/pull/497

cc @kgryte

[2022-06-18 21:49] kgryte commented on #496
@titanism One recent update: @Planeshifter added initial support for expanding acronyms (see https://github.com/stdlib-js/stdlib/tree/c624a5eb4bca8f4f3d45e01bcc4eeee41652e3ba/lib/node_modules/%40stdlib/nlp/expand-acronyms). This may help to avoid mixing contraction/acronym concerns.

[2022-06-27 19:47] quinn-dougherty opened #498 "Unable to resolve Buffer when bundling `kde2d` with webpack"
### Description

Encountered an error when on a fresh `yarn create react-app`, I did `yarn add @stdlib/stats-kde2d` and tried to `require` it

### Related Issues

_No response_

### Questions

No.

### Demo

_No response_

### Reproduction

[code]

### Expected Results

[code]

### Actual Results

[code]
[code]

[2022-06-28 16:15] Planeshifter commented on #498
Thanks for letting us know about this behavior!

As the error indicates, starting with Webpack version 5, Polyfills for Node.js APIs are not included by default anymore, which causes compilation in this case due to `buffer` not being available (which is used in our `ndarray` implementation). We will discuss this internally and post any updates to this issue thread.

In the meantime, please conside

[2022-07-02 08:07] kgryte commented on #498
Will close as resolution of this issue resides outside our control. Thanks, @quinn-dougherty, for reaching out and hopefully the above addresses the encountered problem.

[2022-07-02 08:07] #498 closed, assigned to nobody

[2022-07-19 06:31] d2phap opened #499 "[RFC]: logcdf fuction for Normal distribution"
### Description

I'm looking for `logcdf(x, mu, sigma)` fuction for Normal distribution. I could find the `cdf()` but `logcdf`!

scipy already implemented this, but I need to use JavaScript. It would be nice to have this function implemented in stdlib.
Thank you!

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.norm.html

<img width="1035" alt="image" src="https://user-images.gith

[2022-07-19 23:09] kgryte opened #500 "[Bug]: lintr configuration needs to be updated due to breaking changes"
### Description

Encountered an error when attempting to lint R files after installing the latest `lintr` package (`3.x`).

The `lintr` configuration in https://github.com/stdlib-js/stdlib/blob/232d92dcd2f07187ab1973d88e25cf5354a97633/tools/lint/r/linter.R#L42 needs to be updated to accommodate breaking changes, such as deprecated rules, etc.

Should also consider pinning package versions in https

[2022-07-20 00:07] kgryte commented on #53
Ref: https://github.com/d3/d3-dsv

[2022-07-20 00:12] kgryte commented on #53
CSV-spectrum: https://github.com/maxogden/csv-spectrum

[2022-07-20 05:38] tomdavidson opened #501 "broken type inference"
### Description

When using `objectValues()` and `omit()` with my typescript application, I lose type inference. I would like to use omit on parts in this function:

[code]

But then I can not infer types and have to do things such as:
[code]

I tired explicitly installing the the types package and added it to my compiler options:
[code]

### Related Issues

There's a few type related issues and P

[2022-07-20 06:10] kgryte commented on #501
@Planeshifter I think we can tighten up the types for both `@stdlib/utils/values` and `@stdlib/utils/omit`.

For `@stdlib/utils/values`, we can possibly use generics; see https://github.com/stdlib-js/stdlib/blob/232d92dcd2f07187ab1973d88e25cf5354a97633/lib/node_modules/%40stdlib/utils/values/docs/types/index.d.ts#L40. So, instead of returning `Array<any>`, we return `Array<T>`.

For `@stdlib/utils

[2022-07-20 19:39] kgryte commented on #499
@d2phap Support for adding the normal distribution `logcdf` has been added. https://github.com/stdlib-js/stdlib/commit/d2004aa90966e9a77b23b722372690570cf04aa0

The associated standalone [package](https://github.com/stdlib-js/stats-base-dists-normal-logcdf) has not yet been published to npm; however, you can install directly from [GitHub](https://github.com/stdlib-js/stats-base-dists-normal-logcdf

[2022-07-21 03:38] d2phap commented on #499
Thank you so much!

[2022-07-21 22:04] #222 closed, assigned to nobody

[2022-07-21 22:16] kgryte commented on #116
@Planeshifter This has now been done, correct?

[2022-07-21 22:19] Planeshifter commented on #116
Yes. Closing.

[2022-07-21 22:19] #116 closed, assigned to nobody

[2022-07-22 07:55] kgryte commented on #53
Papaparse: https://github.com/mholt/PapaParse

[2022-07-22 19:12] kgryte commented on #53
RFC: https://datatracker.ietf.org/doc/html/rfc4180

[2022-07-22 19:40] kgryte commented on #53
Python built-in CSV API: https://docs.python.org/3/library/csv.html

PEP 305: https://peps.python.org/pep-0305/

[2022-07-22 19:51] kgryte commented on #53
GoLang: https://pkg.go.dev/encoding/csv

[2022-07-22 19:56] kgryte commented on #53
MATLAB: https://www.mathworks.com/help/matlab/ref/csvread.html and https://www.mathworks.com/help/matlab/ref/readmatrix.html

MATLAB's API is interesting insofar as it supports reading only sections of a CSV file.

[2022-07-22 20:01] kgryte commented on #53
Pandas: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

Has arguably the most complex CSV read API. Some interesting features.

- Select particular columns.
- Ability to provide custom converters for particular columns.
- Comment support.
- Custom separator support (decimals, thousands, etc).
- Dialects (as in native Python CSV API)
- Support for custom date parsin

[2022-07-22 20:07] kgryte commented on #53
Streaming CSV parser for Node: https://github.com/mafintosh/csv-parser; however, issue tracker suggests some concerns with implementation.

[2022-07-22 20:10] kgryte commented on #53
R: https://www.rdocumentation.org/packages/qtl2/versions/0.28/topics/read_csv

[2022-07-23 00:33] kgryte commented on #53
Parsing options:

- **delimiter**: delimiter to use. For CSV, the value would be `,`. For TSV, the value would be a `TAB` character.
- **thousands**: thousands separator. This would allow numbers to be written `1,000,000`.
- **decimal**: decimal separator. This helps with European data, which format `3.14` as `3,14`.
- **quote**: character sequence used to denote the start and end of a quoted item

[2022-07-23 00:47] kgryte commented on #53
Prospective API design:

## readDSVLine( \[options] )

Returns a function for reading a single DSV line according to provided options.

[code]

- If `options` is not provided, default values are used.

## reader( line )

Parses a single DSV line and returns an array of values.

[code]

- If the reader is unable to parse a provided line, the function must return `null`.

## reader.assign( line, out

[2022-07-23 01:41] Planeshifter commented on #499
Version `0.0.1` of the standalone [package](https://github.com/stdlib-js/stats-base-dists-normal-logcdf) has now been published  to `npm`:

https://www.npmjs.com/package/@stdlib/stats-base-dists-normal-logcdf

Am closing this issue, but please let us know if you encounter any issues or have additional comments!

[2022-07-23 01:41] #499 closed, assigned to nobody

[2022-07-23 04:36] kgryte commented on #53
For line-by-line reader, proposed package: `@stdlib/utils/dsv/base/parse-line`.

Once the line-by-line reader is implemented, can consider a "sniff" package and other CSV/DSV abstraction packages.

[2022-07-26 20:19] #231 closed, assigned to steff456

[2022-08-29 13:15] marcospassos opened #508 "dscal is not a function"
### Description

Encountered an error when calling `chi2gof` with a unity probability array.

### Related Issues

_No response_

### Questions

No.

### Demo

_No response_

### Reproduction

[code]

### Expected Results

[code]

### Actual Results

[code]
[code]

[2022-08-29 13:40] marcospassos commented on #508
When passing `simulate: true` it gives another error:
[code]

[2022-08-29 14:03] Planeshifter commented on #508
Hey there,
To allow us to reproduce the issue, could you please let us know how you are consuming the `chi2gof` package?
Are you loading one of the pre-built bundles, have you installed the entire library (` npm install @stdlib/stdlib`) or just the package (`npm install @stdlib/stats-chi2gof`) from npm, or something else? Last but not least, did you run the failing commands via Node.js or a simila

[2022-08-29 14:16] marcospassos commented on #508
The snippet is pretty simple. I'm consuming the `chi2gof` only.

[code]

And I'm running using the `ts-jest`, no extra config.

[2022-08-29 14:52] marcospassos commented on #508
@Planeshifter, I took a look more in-depth, and it seems to have something wrong here:

![image](https://user-images.githubusercontent.com/943036/187229798-32b0ef22-60af-4cd3-af3f-0230cfa2fbff.png)

Notice that the `blas-ext-base-dsumpw` imports `addon.node` that doesn't exist in the distribution. The same happens for the `daxpy`, `dscal` and `dsumpw`:

![image](https://user-images.githubuserconte

[2022-08-29 15:01] marcospassos commented on #508
Investigating even further, it seems a generalized issue with all `@stdlib/blas-*` packages.

[2022-08-29 15:10] Planeshifter commented on #508
Thanks for investigating!

I can reproduce the issue using `ts-jest`. We will discuss internally how to resolve it in due time and post any updates to this thread.

In the meantime, a temporary solution for you would be to add the following to your Jest configuration

[code]

This would ensure that Jest doesn't try to load the missing native add-ons for the `blas` packages but defaults to the Java

[2022-08-29 16:07] marcospassos commented on #508
Thank you for the workaround. Looking forward to a fix :)

[2022-08-29 20:35] kgryte commented on #508
@marcospassos Able to track down the issue, which was due to realms and failing `instanceof` checks. Fix committed to main branch. Should be available to individual packages once we do another standalone package release.

[2022-08-29 20:36] marcospassos commented on #508
Thank you, @kgryte!

[2022-08-30 00:33] Hazelfire opened #512 "[RFC]: Metalog Distribution"
### Description

This RFC proposes to add a [metalog](https://en.wikipedia.org/wiki/Metalog_distribution) distribution, based on the implementation provided by [rmetalog](https://github.com/isaacfab/rmetalog/). This implementation will include functions for:
 - `quantile`
 - `pdf`
 - `cdf`
 - `mean`

I've already started to make this contribution on my local machine.

### Related Issues

_No respo

[2022-08-30 00:52] kgryte commented on #512
@Hazelfire Thanks for filing this RFC.

The `metalog` distribution would be a welcome addition. Based on the API and nature of the distribution, I am not sure the best location for a metalog distribution package. In <https://github.com/stdlib-js/stdlib/tree/d5827a51f78e852b59f5a1dd958ffa6afaee7530/lib/node_modules/%40stdlib/stats/base/dists>, distributions (almost?) exclusively operate on scalar v

[2022-08-30 01:02] kgryte commented on #512
Another reference implementation is a [pymetalog](https://github.com/tjefferies/pymetalog/blob/master/pymetalog) package, which is also MIT licensed, and, so long as equivalent to R, may provide a better basis, as we can more easily map APIs.

[2022-08-30 01:06] kgryte commented on #512
Looking through the implementations, looks like we'll need to add some functionality to `stdlib` for array ops. When submitting the draft PR, may be good to provide a list of various ops (e.g., matrix inversion, stacking, lstsq, etc).

[2022-08-30 19:52] Planeshifter commented on #508
Patches have meanwhile been released for the affected `blas` packages. The problem should now be resolved when installing `@stdlib/stats-chi2gof` anew.

[2022-08-30 19:53] #508 closed, assigned to nobody

[2022-09-03 07:58] jqhoogland commented on #492
For now, this is getting the job done for me:

[code]

(when a function suffices)

Or this incredibly janky thing:

[code]

(when I need a proper distribution)

[2022-09-07 23:02] kgryte commented on #362
This was added in https://github.com/stdlib-js/stdlib/commit/f52f807a13a7bda15a7f9ec072e68f314491062e. Closing...

[2022-09-07 23:02] #362 closed, assigned to nobody

[2022-09-08 03:29] kgryte opened #517 "[RFC]: add support for testing whether a value equals the current year"
### Description

This RFC proposes adding support for asserting whether a provided integer value equals the current year.

The implementation can use the package <https://github.com/stdlib-js/stdlib/tree/develop/lib/node_modules/%40stdlib/time/current-year> to dynamically resolve the current year (local time) and then perform a comparison with a provided input value.

For example,

[code]

Package

[2022-09-08 03:34] kgryte opened #518 "[RFC]: add support for testing whether a value is a semantic version string"
### Description

This RFC proposes adding support for testing whether a value is a semantic version string.

The implementation can leverage the package <https://github.com/stdlib-js/stdlib/tree/develop/lib/node_modules/@stdlib/regexp/semver>.

For example,

[code]

Package: `@stdlib/assert/is-semver`
Alias: `isSemVer`

### Related Issues

No.

### Questions

No.

### Other

No.

### Checklist

-

[2022-09-09 01:58] kgryte opened #519 "[RFC]: add support for serializing `NaN` and infinities to JSON"
### Description

This RFC proposes add support for serializing `NaN` and infinities to JSON.

Currently, when serializing an object containing a `NaN`, the resultant value is `null`.

[code]

Similarly, when serializing an object containing either `+infinity` or `-infinity`, the resultant value is `null` (as documented in #520).

This is problematic when attempting to roundtrip an object data stru

[2022-09-09 02:03] kgryte opened #520 "[RFC]: add support for serializing `Infinity` to JSON"
### Description

This RFC proposes add support for serializing positive and negative `Infinity` to JSON.

Currently, when serializing an object containing an `Infinity` (either positive or negative), the resultant value is `null`.

[code]

This is problematic when attempting to roundtrip an object data structure containing infinite values.

This RFC seeks to remedy this problem by standardizing ho

[2022-09-13 18:33] Planeshifter commented on #517
@kgryte Hmm, should we change the implementation to first check whether the supplied value is a `Date` object and if so, extract the current year from it? Seems one may want this package to both accept numbers representing the years and also `Date` objects.

[2022-09-13 18:46] kgryte commented on #517
Yeah, I think you are right. Checking for a `Date` object to support that use case makes sense to me. Obv, a user could also do

[code]

However, an advantage to us handling this is that we can the use of the correct API (i.e., `d.getFullYear()`), which might be a source of user errors otherwise.

In short, I'm in favor of internally branching based on value type.

[2022-09-13 18:56] Planeshifter commented on #517
Implementation finished and pushed.

[2022-09-13 18:56] #517 closed, assigned to Planeshifter

[2022-09-13 22:56] #518 closed, assigned to Planeshifter

[2022-09-16 14:34] Planeshifter commented on #470
Closing as the change is incorporated in the latest release of the `@stdlib/string` package.

[2022-09-16 14:34] #470 closed, assigned to nobody

[2022-10-01 09:32] Pranavchiku commented on #519
@kgryte if I am not wrong, what actually happening is when I perform ```JSON.stringify( { 'x': NaN } )``` I get ```'{"x":null}'``` and we want it to serialize to ```{
    'type': 'float64',
    'value': 'NaN'
}``` right?

[2022-10-01 09:53] Pranavchiku commented on #519
How can I run ```JSON.stringify( { 'x': NaN } )``` to check, what output it is giving?

[2022-10-01 10:12] Pranavchiku commented on #519
If you could throw some insights on how can I approach to solve this issue, it will be highly helpful :)

[2022-10-02 09:33] kgryte commented on #519
@Pranavchiku As mentioned in the OP, I'd recommend consulting

- [`@stdlib/buffer/to-json`](https://github.com/stdlib-js/stdlib/tree/3814402c0894a6379382ce657e5587738685da27/lib/node_modules/%40stdlib/buffer/to-json)
- [`@stdlib/regexp/to-json`](https://github.com/stdlib-js/stdlib/tree/3814402c0894a6379382ce657e5587738685da27/lib/node_modules/%40stdlib/regexp/to-json)

These packages demonstrate h

[2022-10-02 09:55] kgryte commented on #519
I've updated the OP, accordingly.

[2022-10-02 10:20] Pranavchiku commented on #519
Okay so, I got the following three outputs
1)
[code]
Output:
[code]
2)
[code]

Output:
[code]
3)
[code]

Output:
[code]

[2022-10-02 10:22] Pranavchiku commented on #519
If you want, I can open up a new PR?

[2022-10-02 18:59] kgryte commented on #519
That all looks good! Yes, please do open a PR!

[2022-10-02 19:49] Pranavchiku commented on #519
Okay, so I am getting the following error when I try to commit the changes
[code]

[2022-10-02 19:51] Pranavchiku commented on #519
I have created a new folder ```to-json``` inside ```number/float64``` which contains two files ```index.js``` and ```main.js``` inside ```lib``` folder

[2022-10-02 19:54] Pranavchiku commented on #519
```main.js```

[code]

[2022-10-02 19:54] Pranavchiku commented on #519
```index.js```

[code]

[2022-10-02 20:35] kgryte commented on #519
You're missing the JSDoc comment similar to the following:

https://github.com/stdlib-js/stdlib/blob/3814402c0894a6379382ce657e5587738685da27/lib/node_modules/%40stdlib/buffer/to-json/lib/index.js#L24

[2022-10-02 20:42] kgryte commented on #519
Every `index.js` needs to include a special comment documenting the exported module. See other packages for examples as to what this looks like. Including JSDoc comments is required; otherwise, linting will fail.

[2022-10-03 03:18] Pranavchiku commented on #519
Ohh okay, I will do thar changes and open up a PR :)

[2022-10-03 05:01] Pranavchiku commented on #519
Okay, so is there any way to fix these errors while linting?

[code]

[2022-10-03 05:02] Pranavchiku commented on #519
This is my ```main.js```

[code]

[2022-10-03 05:06] Pranavchiku commented on #519
Resolved :)

[2022-10-03 05:15] Pranavchiku commented on #519
If you could look into this,
[code]

[2022-10-03 05:29] Pranavchiku commented on #519
Sorry for delaying the creation of PR, It took a while to figure out the linting errors

[2022-10-03 20:42] kgryte commented on #519
@Pranavchiku Some of the linting errors can be resolved by using EditorConfig in your IDE (see https://github.com/stdlib-js/stdlib/blob/develop/docs/development.md#editors). This allows automatically setting things like indentation and newline endings.

[2022-10-03 20:45] Pranavchiku commented on #519
Ohh okay, that's great will dive into that :)

[2022-10-05 07:43] #161 closed, assigned to nobody

[2022-10-06 05:10] #519 closed, assigned to nobody

[2022-10-06 05:11] kgryte commented on #520
This was addressed in https://github.com/stdlib-js/stdlib/pull/527. Closing...

[2022-10-06 05:11] #520 closed, assigned to nobody

[2022-10-08 06:39] kgryte opened #533 "[RFC]: add support for testing whether a value is a camel-cased string"
### Description

This RFC proposes to add support for testing whether a value is a camel-cased string.

[code]

Package: `@stdlib/assert/is-camelcase`
alias: `isCamelcase`

### Related Issues

No.

### Questions

No.

### Other

Reference packages:

-   [`@stdlib/assert/is-uppercase`](https://github.com/stdlib-js/stdlib/tree/13c1fa39ff73208d819697dc07917bdb7539f295/lib/node_modules/%40stdlib/asser

[2022-10-08 06:42] kgryte opened #534 "[RFC]: add supporting for testing whether a value is a constant-cased string"
### Description

This RFC proposes to add support for testing whether a value is a constant-cased string.

[code]

Package: `@stdlib/assert/is-constantcase`
alias: `isConstantcase`

### Related Issues

No.

### Questions

No.

### Other

Reference packages:

-   [`@stdlib/assert/is-uppercase`](https://github.com/stdlib-js/stdlib/tree/13c1fa39ff73208d819697dc07917bdb7539f295/lib/node_modules/%40std

[2022-10-08 06:43] kgryte opened #535 "[RFC]: add support for testing whether a value is a kebab-cased string"
### Description

This RFC proposes to add support for testing whether a value is a kebab-cased string.

[code]

Package: `@stdlib/assert/is-kebabcasecase`
alias: `isKebabcase`

### Related Issues

No.

### Questions

No.

### Other

Reference packages:

-   [`@stdlib/assert/is-uppercase`](https://github.com/stdlib-js/stdlib/tree/13c1fa39ff73208d819697dc07917bdb7539f295/lib/node_modules/%40stdlib/a

[2022-10-08 06:45] kgryte opened #536 "[RFC]: add support for testing whether a value is a Pascal-cased string"
### Description

This RFC proposes to add support for testing whether a value is a Pascal-cased string.

[code]

Package: `@stdlib/assert/is-pascalcase`
alias: `isPascalcase`

### Related Issues

No.

### Questions

No.

### Other

Reference packages:

-   [`@stdlib/assert/is-uppercase`](https://github.com/stdlib-js/stdlib/tree/13c1fa39ff73208d819697dc07917bdb7539f295/lib/node_modules/%40stdlib/as

[2022-10-08 06:48] kgryte opened #537 "[RFC]: add support for testing whether a value is a snake-cased string"
### Description

This RFC proposes to add support for testing whether a value is a snake-cased string.

[code]

Package: `@stdlib/assert/is-snakecase`
alias: `isSnakecase`

### Related Issues

No.

### Questions

No.

### Other

Reference packages:

-   [`@stdlib/assert/is-uppercase`](https://github.com/stdlib-js/stdlib/tree/13c1fa39ff73208d819697dc07917bdb7539f295/lib/node_modules/%40stdlib/asser

[2022-10-08 06:49] kgryte opened #538 "[RFC]: add support for testing whether a value is start-cased string"
### Description

This RFC proposes to add support for testing whether a value is a start-cased string.

[code]

Package: `@stdlib/assert/is-startcase`
alias: `isStartcase`

### Related Issues

No.

### Questions

No.

### Other

Reference packages:

-   [`@stdlib/assert/is-uppercase`](https://github.com/stdlib-js/stdlib/tree/13c1fa39ff73208d819697dc07917bdb7539f295/lib/node_modules/%40stdlib/asser

[2022-10-11 05:28] #533 closed, assigned to nobody

[2022-10-14 22:22] #536 closed, assigned to Planeshifter

[2022-10-15 00:49] #535 closed, assigned to Planeshifter

[2022-10-16 00:38] #537 closed, assigned to Planeshifter

[2022-10-16 09:40] #534 closed, assigned to nobody

[2022-10-19 01:55] Hazelfire commented on #512
Hey! I've spent about 3 days trying to contribute this distribution, and I have a whole menagerie of development questions:

1. How do you generate `<toc>`, `<toc-namespace>`, `<equations>` and other markdown pre-processing directives? I know you've told me that I shouldn't need that and you'll do it on your end, but there are a lot of design questions that come around that level, rather than the

[2022-10-19 06:38] Hazelfire commented on #512
The pre-commit hook also provides some extremely mysterious errors:
![image](https://user-images.githubusercontent.com/13807753/196615101-c19c1e06-7c6c-4ac0-b536-7ec030340a77.png)
I'm very much at a loss

[2022-10-19 08:00] kgryte commented on #512
@Hazelfire I'm sorry that you are experiencing such a difficult time contributing.

For the time being, you can skip linting and bypass the commit hook by doing the following:

git commit --no-verify
git push --no-verify

We can sort out styling, etc, once we take a look at the initial API design and details.

[2022-10-20 20:20] Planeshifter commented on #512
Hi Hazelfire,

Apologies for the cryptic lint error messages; I have just been refactoring the pre-commit hooks and our `eslint` rules to allow automatic fixes in order to streamline the development experience, but apparently there are some bumps in the road along this journey. As @kgryte mentioned, feel free to bypass the hooks for now. But you may pull the latest changes and re-initialize the li

[2022-10-27 20:23] kgryte opened #581 "[RFC]: add support for serializing a number to a string while avoiding exponential notation"
### Description

This RFC proposes serializing a number to string while avoiding exponential notation.

The default behavior for JavaScript runtimes when serializing either very large (>=10^21) or very small (<10^-6) numbers to a string is to convert them to exponential notation. E.g.,

[code]

However, in certain circumstances, you may want to avoid serializing to exponential notation and may pre

[2022-11-09 00:27] #538 closed, assigned to Planeshifter

[2022-11-25 17:03] rreusser opened #632 "[RFC]: Add Jacobi elliptic functions"
### Description

This RFC proposes to add jacobi elliptic functions under the math.special namespace. I've come up with a suitably licensed implementation [here](https://observablehq.com/@rreusser/jacobi-elliptic-functions) and propose to move it over with variations:

`ellipj()`: returns three values: sn, cn dn
`ellipj.am`: computes am (the [jacobi amplitude](https://en.wikipedia.org/wiki/Jacobi_

[2022-11-25 21:23] kgryte commented on #632
@rreusser No opinion regarding 1-3. Fine with (1) if you think that preferable. We should just be sure to document how the behavior diverges from, e.g., SciPy et al in a "Notes" section in the README, or perhaps just in the JSDoc comment of the implementation file. Recording this knowledge will probably be useful for posterity.